<h1>Editing subdirectory</h1>

<%= render "form", subdirectory: @subdirectory %>

<br>

<div>
  <%= link_to "Show this subdirectory", @subdirectory %> |
  <%= link_to "Back to subdirectories", subdirectories_path %>
</div>
